.task-list{
    display: grid;
    grid-template-columns: 50px 1fr 2fr 200px;
    /* border:1px solid #000; */
    gap:10px;
    list-style: none;
    padding: 0;
    margin: 20px;
}

.list-header{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.list-item{
    padding:10px;
    border:1px solid #ccc;
    background-color: #f0f0f0;
}

.delete-item{
    width: 50%;
    padding: 6px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.delete-item:hover{
    background-color: #ac0909;
}

.update-item{
    width:50%;
    padding: 6px;
    background-color: green;
    color: #fff;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none; 
}

.update-item:hover{
    background-color: rgb(6, 85, 6);
}